<!-- _includes/figure.html -->
<figure class="figure d-flex flex-column align-items-center w-100">
    {% if include.url %}
    <div class="text-center w-100">
        <img src="{{ include.url }}" 
             class="figure-img img-fluid rounded" 
             {% if include.width %}style="width: {{ include.width }}"{% endif %}
             alt="{{ include.caption }}">
    </div>
    {% endif %}
    {% if include.caption %}
    <div class="w-100 text-center">
        <figcaption class="figure-caption mt-2" {% if include.width %}style="width: {{ include.width }}; display: inline-block;"{% endif %}>
            {{ include.caption }}
        </figcaption>
    </div>
    {% endif %}
</figure>